networks:
  mellonpass-network:
    name: mellonpass-network
    driver: bridge

volumes:
  mellonpass-postgres-data:
    driver: local
  mellonpass-tmp:
    driver: local

services:
  mellonpass_server: &mellonpass_server
    build:
      context: .
      args:
        POETRY_INSTALL_OPTS: '--no-root'
      target: local
      dockerfile: Dockerfile
    container_name: mellonpass_server
    restart: always
    stdin_open: true
    tty: true
    environment:
      - APP_ENVIRONMENT=local
      - DOMAIN=localhost
      # Persistent storage.
      - DATABASE_URL=postgres://postgres:postgres@mellonpass_db:5432/postgres
      # Django admin.
      - DJANGO_SUPERUSER_PASSWORD=admin
      - DJANGO_SUPERUSER_USERNAME=admin@example.com
      - DJANGO_SUPERUSER_EMAIL=admin@example.com
      - SECRET_KEY=django-insecure-secret-key
      # Test user.
      - TEST_USER_EMAIL=testuser@example.com
      # This raw password is related to the TEST_USER_LOGIN_HASH and TEST_USER_PROTECTED_SYMMETRIC_KEY values.
      # Raw password: v}}\a5X%pEPn7d$n<L@-
      - TEST_USER_LOGIN_HASH=EbDKl8Kg+IvUoJB3KcOOynIkEw/wm4tC2B8WP0y0Q2M=
      - TEST_USER_PROTECTED_SYMMETRIC_KEY=RjNkckdOeWxDd2pJTHArTmxFQXVnUGVUS3BTUnRtdVY1UThJR1FlYXdrZ1ZaQm5sYTY5bS9NUWUzOTJrZVZpYXkySE5aY2lUUE1QT2pXNC9peklzNEJ6N2xDRGQvKzFOY0c2RnNBOW9kVGNpaERNZU5lRDNqcXlFVmMza0lSTUw3NkNkOGVwV21pMVJwa1l2b0RpdTB3PT0=
      - TEST_USER_RSA_PROTECTED_PRIVATE_KEY=eFBVQVpqR0hoZUNqV09yMldod0daN25zRk55TVg2bDd6RUNnNjVkeHUyYlRIZDFybzJFM05Dakl6TFlJbXNRT0dlYXN2RXUzb3Y5K2FsdmdLU1B3RHdBK01NdXZONm5KMGhVSmhOdm9FbCtTOE5FOFpmZDhqRTVKNEltMlAwVGJUcDljMHZIYWl4NzFLZXFkdkZyeTFXR2MwVWNzclV1TzB0NXhDSUZubFptallNNkdTeVBDcUVBZHU1eElmckFOSEV1OWFERWQ5UGxXRHBUK09ESldqM1hkblQ2RUVqNHo3Mm4rQ0FZZ2NFTzdpRlYrUytqZkpqd1ZZWitJUjFjdjlIQlZEUkY2Y2JFZUpuM21PS2ZkSDdmc3ZYYjRLcjhxZmhvNnlwaDYwTXlYSnJRdUhtYTNISDZZVHFNUmlZMUxLZHliNTZla0RyU2pkMmdtNHJQVHQ1dWJmUEJkYjN2cEUyVWl3K3NLWUFCMUtTcVpyNzZZVHUxb3FhcEJxTTIxQm9rUlY5aVRWTnhMSWQ3NFdML29DWmlZS2JxSUZlOEh2TzNaTUFxS3BjKzJFclNmWkk0ci93b25WcHVZVE1RSkR3RXVZSEZ6S1dPUXNVN3c4UmQ4OGFKS3BhWEFvTkJZVG9SS0E0VlFwOWZRVFprTVlCNkZoRWd5Z09MNHZSWjBUczhBNzVMWDU1dHJvVDkwM3lSM056Snc2SEJ0SkduajNOSmxlNkpvYUFaTTNicTltL3VZaVZXTmZtbktyd0krcE1hSFZPaUY3dGNuOGllTForQVRoaS9FOUQ5bFA5NXh4R2IySTRwQ3lhOGxxcFhPNjdMSmE2cTVoYXJ5UUp0a2NBbUJOK0JSV3ZsbmhrTE1WbFlmSVFmWE5xRkJJakFsd29qaHpMbERTL21zZG1LMW5VUGlGd2J0eE9iRE1FRG1JNE5zZGEvMndNYnk5UlZ3VHlRWVZlaGNtakhsejhnNjEyQkJYTXExYjFUZ1l6SHBsVXBoNGFvZ1E3RFZXWExZdWp0QzBpSENCa1dPTmg2dmhPODdxL3E2R2RscHpmaGZjbWFrei83bURhY2NaNHhaYStFS2NRM2wwRzh5ZnVENlpOMmNlbi83RTIya3VncHJFSldUaUNxRHJXeldJaEhMSzRIc0NGRGdXUXBXUlM1NXNEQkdEaGRFVSswcWcyVHNJQW9wRDJBcmgycWVxSGMyZGVnMXBUam83ckQrM1lSQVFLSUVKMVgzd1JKNmdHd0JBaXkyMXlqclpyZFErR1o1NGZ0NTJJeHpsN20vZ09INm44dkVQYlc4dS9XRk9OT0w1cXo3MytPSVpJVmY0Ry9zaXpRVXRhVDlCNUVkM2dvUFdzcmhlQmdaR0EwWkxLYld4Mldmb0hETzhSM0o3TWwweVRwaFR3RkVlMEcyYjNxVjJFbWp0TXQzb0xNOUYwSHY3b1UzdEpleFQ0enZhZmdMNW1zblo4NGlUZVhiaEh1NnR6QnAveFR1VlhENjlzcHMrandFNUswOFNGRmYzNDJRR1ZJMmpUQjRoaUthcUNFNGpCQ21sUnhLVnNST1JuWjVxazdUZmxIREViMEpRM3NtdEJlREY4ZDMvdElxUjFGT3dEeGFsTytiZU53STR3VU1vZmhVdzhzTjhGWGxSMFRTZ3p6NlZRbTZzSlBtRkRPdFo3Wi81VHRBbDEwOFVhdmtSZkN0VDVOVTZNMHZrMnNzOTFyUkhNZXhNWkJGSlFOMkhsRUpzY3VuSGQ3VzhuSGVtejcxaXg2SW1SRUZWSFFjNU9ncldxOGQ3ZVpPd2VEYWVuTEQ4ZTBHVkIzcWlkMnhwa2s3QzcvdG85UnpWdTNTQUNaUzJvQmZNYzEvQXBSMFlaN1drU1htVEJtSjAvOFVyYWR6N2Jod1pYN093TERGS011ZnBFUmMyaVZOUFZuT09Pb2FkYmVacW4vb2tZbmZSMTdTV3Z2SFhwV0JIZnQ3Z2hRT0dGWDkxVGNhNUdTRWQvRkk3djhyR2tNUzkzK29FSGZjSjV5NXVyZmlTKzNlUko5MnRiQmRYK21UNCtwR2YxM25TRkFtNTNKeUk3QUttVmwveHlHNmlOQkhZZFJEUEZJZlVNZldLLzlaS1p4T0VlL3k2RGlrQ3hoOXErSC91ZTgyL1ZpSVFUZ0o1QmdXbjNtNVhPM3JqUnVtVGVLVStxeGxlaEJlTW1weThkMmZxdE9IT0FidVZPOE5UQWxLb1BaR0NZa1JqeUdsOGJZUlExNzJKUlc2MXBBQlhtVzdBSHlZWmlQUit3U2dpQVZkeCtNRG1ZMmxoRnpSQ2FVdnVHcDlxWkRzRWt0OWVLTTUrdElJejRrS3ZaN2lhcGkwZlo2WUg4YXVGWEc4aksxT0tGMnZ1RFJDMUZWajFBdVhPeGFLVnk2eEViU2R3SU1Ecm14bzZIb2NZdDh5dXZoa0RucVlWQkQzTjhGeHNFNlZTNzh2TC9rQkNUd2krRkF4cHNGdTBBQXpwb1d0WFpGdENET3BqcEkxU1VqTWNMcEJpZWcwVjVleGNNY2RiKzVkQ0hjZUdrRjdiamJYTkM3TkZjN1VBUkJvREdwMkt5VEpIVW9qVmtpSzMxZ2M2ZVA0WWg2UklncmtSa0pUUG9EQXc3K2NDSzM1YVZzNTNPaWRFOVhPeDAydkNXYlAwNklnbERqVEFiSXB0dWVha002eEFsdGFRVTBCL2ZLTnB0Z29KejFpYWxNREV2aldxMUR0RGlPQkNQYXo2Wk1udlVVaFFsQTJUNXljZ09zNjN0VjdEbVk1OXVaOE1RVzRURzVkNlVQbEl4NVFHK2wrY054NUZ4RnVqbHZLNjB6eWlDM0JtaVN1OGlSNmtFNEs0OWhiMURocUdOMXZyZW4zNWhtWjhBTTlsVER0blo1anltWm1MUGRvY0RLb3NDM0xHdGJxb3RNVFpvcVYzSVYzOXp6N0hSQXpYYWd0UDZJOGFpcnV4OW91V0ttcmhBQ2VIdkZCZzFnSWlrRHlvQjZ2cWc4RXZtYXFiekh0b0FvMHJVSFBFV3FPUkh0UjVJaGxaZUNLRTNxTm03akowR01YRktHSVphNWdPUTNWRWJYSDBJa2taMnR0c00yVmpCUVZSYmpEOUNVS3B5Umh5Vmlyd3RoeVBnQmFSeFFkY3AwM0VrQisvRXFzSGVNdkxOVExReVZ2N0RqcGcyTFo3WDNBRWZaQVRuajRGdnR3K1BFSzF3eFNwc2J1UVp4ZUhTK0VSOFBoUHdkNFFDb0hxL3dsVGtvRDQ5Tk1pc1RoODZXZDBxVDMwYzFRc09uZm5va0VYSFA4bzdORkNQZVhMeVpQVDFhbTJNcVZXQndnVFFwQ2ZEeW9WTjYyajYvWEtpbHlWYUs3MDVXeG0ycnNhRkhlV3hHS1U2UmlBQkxnK0tSVUMzQ1BpeTJYVThHQlVVQVA1RGtDRlZnalkwQ3ZHOFcvRFROYm0xcTZCWkw3MEV4YjZDWXpWL0RMNzZRQnZHSVN2MGFlbkptWnFxbkV5ait6aU1NRE05YlVRLzNPYTk0MThLaHNPRzE1dGxoU3BnY3JDT0NRL2taUGtOQmxLdkZCRHJtaGJQR29ibWJBVjJmRTBaUkl6U29OQzE4dnU0aS9mTFNldTVYbTU2Z3dUWE5oOGRyVWg5R0x1WnNGd294Siszd1A0Q0RlaUEzUGFhSVRVbW1NVnQ3RnBmeHdXdjgwSFNVS3VaSHVORXNKNDBJaDRwZjd2TlNhRldQRW1RN3FPdlJMTG51Y3JJaHNUbUNIcGxCTXZiaGdyVVRNVmlIK3BCWVMxMzh1Tm0zMi9CemJUUysyODhMZ1NuU094KzlnRE1GOTVoaXA4TDZ2dm52L2lIc01jWkNmZVZrQlN4aVNYa2Iwb1MwNkxSSzFOc3VIL2dLSXVXbmRWSXYzMXY0dVlOdDFHdXlRaGc5Wno0UjUyWjJrNzM3MWFzSUc2WGwvdU1rdFpuMGpSTktOd2xvdmNoazFOalFTMEUvMWtQT3NuKzFoazE0UFp1T28xcE1uTGtHUmJraTVid2NMUlNoa3ZadS9ZejFWUW1EN0dwRXZObGhoeTNrZStBakkrWGcxVDFzd2NDOHY5a3lpTnJmcDRFNXFMcTA5MXdQMGtjWElGZWEvOFdSMkd0akVCSTBoMGE5bWRBM3JTR0xHaHdNK2VWOG9ISFRyRFRRVFowb05lYVZzbDQyWHJ4S1pZOGlzcTNNNGRVdmdieDZZOVRDK2JwVk9ScURWd0RmdGxTSzlEaEoyRE1DVHVad2wrQitpMExLMW9qTWUzOW1VRU5tYzJweTlNM3NacnppU2dxbnFUOHFseCtDdmJKNzk2VGtnNkk4STdodU1MMStETTEwTDExbUJSOFlCN3NzVzZiVVZsOXE3RjNQY05DSFFydk1lNXU0Y2xLa0Z4c3o1c3V6NXR4Vkw3dnB1N0dlLzhFdGhsalhBNXBhUkJHb0UvN3R4dFlSUEJUcVBieDY3SitvOVh0bjFWa1k3QWRnNmZUK2dwc1MrbFBpamRqNURVSkFzLzJvU2V5ZVEvWUJ2c2JMKzh2cFU0TlVIbXJiK08rUTZTcElKY2hnN285U3JaVUJ4VWxUMGlRU3kwNnNjZnVkR3IyOVFJWXVEUDVPN1NtNjZRT3pOUlVzR3hoZTBNYzRvUDBGeFBQNVNJdnI0QkFpWXltWEc5dmwvWnV2bGFsY0NPVllvNUhjamVvYW9jaDlIY2w4WFREVWZkWG1SS09XdTN6TWtubS9OYlM2ZzIrZmYycWovSnZYZHpVYWJXeW1YZzlHUlNQVUdLMnFueERoSE9NZHFhTW9kejQrWlZWUkF1aDBSWDBuMnZuOXZzRUZWYXR0L3grajNKcFkvU090elBoc0ZFbDFlaTRRdjR4emw1bkdDK1I0VDRScCs1WEJUcktXV3lJRVFsaXVVeitXamdqUE1nL1dYU0loRVk1bWQ0SzRzek85WWxCOTlIUDByeGZUTDI5TjJmVGZFZldnS2JDeEhyM0hTWm1HRm9MenA4NVlnSG4yejJSMm9pSk5QV3RpczFSN2lRb0dTYVd3aTg0eUNYRVRld29kaFIvSE80bHh0WlA3VGZGanBBT0lrdTZIR1lMNTVNNDRuaGVibml0cEpzQkhwZVZNOXpESDdwMStlT3R4ekYreFhaTFVXTWZVWEVCeENCYks2RUxHbW5BUnZYTEFoVzNqbWY5VDJhOGQxdlowSDN3eFFGU1VmR3RsSkNETGVLdGNPWHBXTmJCeVpxQWJua0d0dlBZZEw3YnZXQjJ6SUQxUUFKSVM1UndIaUxsUm5UNjVCNVVxRkZTVmhDRlp3YklKaW5zY3lFcFVwZDBWRk1FNlB4TGM4YnFUckRTUFpHRlN2RzBoTFFKUW85L0F1ZVphcldMTzBNYkFhS0ZHazBZNzEzQ0txd3ZFeGNsSXdyYTVWbVgwY01ibERFTzFDWDJ5QWJqQmNqZ296OE5xZW41T2JjcWd3Z3BzYVNSYmtybTRIVS9JNEk3WGo5TVBTb1BHcisxK2J1Yk85UURMbDdualNRVTVtUjdHNDlDV1BjSUs3RTJmSFd4bGYxdzdXQitvRUxUekxRWnJ6dldoT2VjdFdkS2Q0eThJNWdiemdONFEva0RQcjF6M3p4SWM2L1gvdGJHaU1TSkZYcVBYdDdlekljNU1ab2ZzU3lzamFSaHhhZFNpWXFnMVdqZ3EzL1NpQ2NwYUtLUDVJNEU0MjJNaFd2Y2FEVHVOVmpRTT0=
      - TEST_USER_RSA_PUBLIC_KEY=ZXlKaGJHY2lPaUpTVTBFdFQwRkZVQzB5TlRZaUxDSmxJam9pUVZGQlFpSXNJbVY0ZENJNmRISjFaU3dpYTJWNVgyOXdjeUk2V3lKbGJtTnllWEIwSWwwc0ltdDBlU0k2SWxKVFFTSXNJbTRpT2lKNFIxZHhWR3hqTVdOUVEwdEtTbU5CVW5oclpsSnVhbGRxUTNaYVdFOXphMWRpZEVwcGNGSkxVM2hPVUhoVWRVMTFhamRpYVdWMk1VSlljM015YUZoSVJIbEdOVTVqVXpocGJVcFRUbTVFWVhJNGFFcExRamR5TmpGQ1pqTjFRa1UyWTJ0TFMwVXlYM1JrZVZRMmVrUkViVXcxVld0S1QzZDNPVkpVWld3NVVEQlFRWFJUVTJST1dYZEpWMFp1TURZd1RtZFlNelV4Wkc5clFUWlRkMkk0Wm1Wb1dYTkRkbWhtY0RWaVdsRnhjbDlOY1dGcE1ucGZNbVZuVFVoblJWQjJXVE5UUm1GS2NFMXFhRzlDUm5RMFNDMU5Ra1pxUTFnNVRVVTJjRlZJVVhOa056WmlURUZvWTNaeVVIRmhkRTlUWDBWWVRsWTRiSEJVWDFOWVpsSXlTRkpHYjNGNFgyWlVObXA1ZEdSMVVFVm1SR1k1Tnpaa0xVOUJNMnB0YlRaSFQxUktZVmRGZVZwaVNYa3RXQzFrT1ZVME1uSlhXREU1UVRGM1VIQk9RV0ZaTUdzNWFWRllabEZZWWpoZk1sWnFkRFkzY3pGblNucGxjVTVyV0ZaamQwNXFaalpSVFZkRlV6RTFTVWQ2UkVSS1NqWnlRVEZIVUhoU2NXY3RiV0ZGZHkwNFNqSTFWME5UU1VKTFEzTkxVMDV2UmtGV1VrbGpOSGMyVGw4MmFHNXNlRnBLVm1KMVdqUjVPVmxwWVhsVldXMXVSRXRuWW1aRVREUnllRkkwY0hKVE9IVldRV3hCYVdsWFRVOURielowY1ROTVRFOUJaSFpQTjNZek1WUXdXRTl3WW5weGJYcHpWRlI1UkRadFpXMW5UMUZRZURCWWRWZFhNblJvVmtoaWRWbFlla3hGZUc5QlRFRTNiMDFCVTJoNWFXVktURm8yYzBSYVdVNUVMVnBFYmkweE1rMDJXR3g0YUVKUVMxOUtRVXRzY1dsUFdqaE1YM0ZzZFhsRFZXSmpMWFJ1T1ZkRVFXbGxNMnd3Ym5GdU5VODVVVlp4U0RsTUxUVldWekZET1dOSmF6SjVRMDlpZGsxRmRIUjVXbmt5TURCa1MyUnVja1ZRTkhSR1NXdHhZakZJU1RCdlUxbGtjRFppU2tadmJUazNVREUyTTJKeExYUkdkeTFZTUMxS01rZG1hM0ZKTUNKOQ==
      # Security.
      - ES256_PRIVATE_KEY_PATH=mp/jwt/tests/resources/keys/private_key.pem
      - ES256_PUBLIC_KEY_PATH=mp/jwt/tests/resources/keys/public_key.pem
      - DB_SYMMETRIC_KEY=IFdjlMcWEjpswSDoOhiEhsQXugioBs_Pbg5z1J8G91U=
      # Cloudflare.
      - CF_ENABLE_TURNSTILE_INTEGRATION=False
      # If CF_ENABLE_TURNSTILE_INTEGRATION is enabled you need to provide value for these variables.
      # - CF_TURNSTILE_CHALLENGE_API=https://challenges.cloudflare.com/turnstile/v0/siteverify
      # For more secret keys, see: https://developers.cloudflare.com/turnstile/troubleshooting/testing/#dummy-sitekeys-and-secret-keys
      # - CF_TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA
    volumes:
      - .:/code
      - mellonpass-tmp:/tmp
    ports:
      - "8000:8000"
    depends_on:
      - mellonpass_db
    networks:
      - mellonpass-network
    command: /start_web

  mellonpass_db:
    image: postgres:15-alpine
    container_name: mellonpass_db
    ports:
      - 5432:5432
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_PORT=5432
    volumes:
      - mellonpass-postgres-data:/var/lib/postgresql/data
    networks:
      - mellonpass-network

  mellonpass_huey_consumer:
    <<: *mellonpass_server
    container_name: mellonpass_huey_consumer
    depends_on:
      - mellonpass_server
    ports: []
    volumes:
      - .:/code:ro
      - mellonpass-tmp:/tmp
    command: /start_huey_consumer
    networks:
      - mellonpass-network
