{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} MellonPass {% endblock %}</title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="{% static 'uikit/css/uikit.min.css' %}" />

</head>

<body>
    {% block body %} {% endblock %}

    <!-- UIkit JS -->
    <script src="{% static 'uikit/js/uikit.min.js' %}"></script>
    <script src="{% static 'uikit/js/uikit-icons.min.js' %}"></script>
</body>

</html>